<div>
    <div class="col-7-12 services">
        <div class="services-header">
            <h2>
                Your Subscriptions
            </h2>

        </div>


        <div class="second-Dash-div">
            <ul>
                {{#each services as |subscription|}}
                <li>
                    <div class="single-service" data-active="{{subscription.is_active}}">
                        <div>
                            <div>
                                <h4>
                                    {{subscription.Service.name}}
                                </h4>

                            </div>
                            <div class="service-info">
                                <div>
                                    Cost: {{subscription.Service.cost}}
                                </div>
                                <div>
                                    Renews on: {{format_date subscription.auto_renewal_date}}
                                </div>
                            </div>
                        </div>
                        <div>
                            <a href="/dashboard/edit-subscription/{{subscription.id}}">
                                <i class="bi bi-pencil-fill"></i> edit subscription
                            </a>
                        </div>
                    </div>
                </li>
                {{/each}}
            </ul>
            <span class="add-service">
                <a href="/services">
                    <i class="bi bi-plus-circle-fill"></i> add a new subscription

                </a>
            </span>

        </div>
    </div>
    <div class="right-div col-5-12">
        <h2>Summary</h2>
        <div>
            Summary of monthly costs and # of active subscriptions will go here
            <br>
            monthly costs: ${{summary.monthlyCost}}
            <br>
            # of active subscriptions: {{summary.activeSubs}}
            <br>

        </div>
    </div>
</div>

<script src="/javascript/dashboard.js"></script>